output-*
modules/optional
modules/bootcd_extras
modules/livecd_extras
modules/hybridcd_extras
modules/3rdparty
modules/[Aa][Hh][Kk]_[Tt]ests
.cproject
.project
.settings
.vscode
sdk/tools/winesync/winesync.cfg
/.vs
/CMakeFiles
CMakeSettings.json
/.idea
cmake-build-*
/_ReSharper.Caches
/sdk/include/ndk/ntbits-src*.h
/sdk/include/ucrt
/sdk/include/c++/stl/
/sdk/include/c++/libcxx/
/sdk/include/psdk-ms
/sdk/include/reactos/nt.h
/sdk/include/reactos/ntrtl.h
/sdk/include/reactos/nturtl.h
/sdk/include/vcruntime
/sdk/lib/3rdparty/uvcrt
!/sdk/lib/3rdparty/uvcrt/CMakeFiles.txt
/sdk/lib/3rdparty/ucrt
!/sdk/lib/3rdparty/ucrt/CMakeFiles.txt
!/sdk/lib/3rdparty/ucrt/inc/corecrt_internal_state_isolation.h
/sdk/lib/3rdparty/vcruntime
!/sdk/lib/3rdparty/vcruntime/CMakeFiles.txt
/sdk/lib/3rdparty/stl/aliases
/sdk/lib/3rdparty/stl/src
/sdk/lib/3rdparty/stl/CMakeLists.txt
/sdk/lib/mscpprt
/sdk/lib/3rdparty/libcxx
/sdk/lib/crtex/ms/**/*
!/sdk/lib/crtex/ms/CMakeLists.txt
/dll/ntdll/ldr/fmt